body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px
}
div{ 
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid black;
}
.pai{
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 40px;
    /* padding: 20px; */
    display:flex;

}

.filho{
    border: 1px solid black;
    background-color: coral;
    padding: 5px;
}

#pai-1{
    align-items: stretch;
}

#pai-2{
    flex-direction: row;
    align-items: flex-start;
}

#pai-3{
    flex-direction: row;
    align-items: flex-end;
}

#pai-4{
    flex-direction: row;
    align-items: center;
}
#pai-5{
    flex-direction: column;
    align-items: stretch;
}

#pai-6{
    flex-direction: column;
    align-items: flex-start;
}

#pai-7{
    flex-direction: column;
    align-items: flex-end;
}

#pai-8{
    flex-direction: column;
    align-items: center;
}

#pai-9{
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

