body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.pai{
    border: 3px solid black;
    margin: 40px auto;
    height: 200px;
    width: 300px;
    background-color: lightgreen;
    text-align: left;
}

.filho{
    border: 2px solid black;
    margin: 10px;
    background-color: white;
}

.filho:hover{background-color: yellow;}

#pai-1 > .filho-1:hover ~.filho-5{
    background-color: red;
}

#pai-2 > .filho-5:hover ~.filho-1{
    background-color: red;
}

#pai-3 >.filho:hover ~ .filho{
    background-color: red;
}

