body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    border: 2px solid black;
    background-color: greenyellow;
    padding: 10px;
}
#div-1{
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);
}
#div-2{
    box-shadow: -10px -10px 5px 0px rgba(0, 0, 0, 0.50);
}
#div-3{
    box-shadow: 50px 50px 50px 0px rgba(225, 0, 0, 0.50);        
}
#div-4{
    box-shadow: 150px 150px 10px -75px rgba(0, 0, 0, 0.50);
}
#div-5{
    box-shadow: 
        50px 50px 10px 0px rgba(0, 0, 0, 0.50),
        -50px 50px 50px 0px rgba(225, 0, 0, 0.50),
        50px -50px 50px 0px rgba(0, 225, 0, 0.50),
        -50px -50px 50px 0px rgba(0, 0, 225, 0.50); 
}
#div-6{
    box-shadow: inset 0px 0px 50px 50px white;
}
#div-7{
    box-shadow: 
        inset 20px 20px 10px 0px rgb(255, 255, 255,00.80),
        20px 20px 10px 0px rgb(0,0,0,0.50),
}
