body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: 0px solid black;
    border-radius: 20px;
}
#div-1{
    background: radial-gradient(red,yellow);
}
#div-2{
    background: radial-gradient(closest-side, red,yellow);
}
#div-3{
    background: radial-gradient(closest-corner,red, yellow);
}
#div-4{
    background: radial-gradient(farthest-side, red, yellow);
}
#div-5{
    background: radial-gradient(farthest-corner, red, yellow);
}
#div-6{
    background: radial-gradient(circle at top left, white,black,orange);
}
#div-7{
    background: radial-gradient(circle at top right, white,black,orange);
}
#div-8{
    background: radial-gradient(circle at bottom left, white,black,orange);
}
#div-9{
    background: radial-gradient(circle at bottom right, white,black,orange);
}
#div-10{
    background: radial-gradient(circle at 50% 0%, violet, white,blue, red, black);
}
#div-11{
    background: radial-gradient(circle at 68% 75%, violet, white,blue, red, black);
}
#div-12{
    background: radial-gradient(ellipse at 68% 75%, violet, white,blue, red, black);
    height: 150px;
    width: 400px;
}
#div-13{
    background: radial-gradient(red 0% 33.3%, white 33.3% 66%, blue 66.6% 100%)
}
#div-14{
    background: radial-gradient(circle at bottom left, rgba(255, 0, 0, 0.623),rgba(255, 255, 255, 0.616),rgba(255, 192, 203, 0.61)),
    radial-gradient(circle at top right, violet,pink, green)
}
#div-15{
    background: radial-gradient( rgba(255, 0, 0, 0.623),rgba(255, 255, 255, 0.616),rgba(255, 192, 203, 0.61)), 
    repeating-linear-gradient( to bottom right, rgba(255, 0, 0) 0% 33.3%,rgba(255, 255, 255) 33.3% 66.6%, rgba(0, 0, 255) 66.6% 100%);
}
