body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px
}
div{ 
    box-sizing: border-box;
}
.pai{
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 40px;
    border: 2px solid black;
}

.filho-row{
    border: 2px solid black;
    background-color: coral;
    width: 50px;
    padding: 5px;
}

.filho-colunm{
    border: 2px solid black;
    background-color: coral;
    height: 30px;
    padding: 5px;
}

#pai-1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

#pai-2{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

#pai-3{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#pai-4{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#pai-5{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#pai-6{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#pai-7{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
#pai-8{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
#pai-9{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#pai-10{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#pai-11{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
#pai-12{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}