body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    text-align: center;
}

header, main, footer{
    border: 1px solid black;
    width: 800px; 
    padding: 20px;
    margin: 10px auto;
}

header{
    background-color: lightgreen;
   
    
}
main{
    background-color: lightcoral;
   
}
footer{
    background-color: lightblue;
}
