body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px
}
div{ 
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid black;
}
.pai{
    background-color: lightgreen;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
}

.filho{
    border: 1px solid black;
    background-color: coral;
    padding: 5px;
}

.coluna{ flex-direction: column;}

#pai-1{align-content: stretch;}

#pai-2{align-content: flex-start;}

#pai-3{align-content: flex-end;}

#pai-4{align-content: center;}

#pai-5{align-content: space-between;}

#pai-6{align-content: space-evenly;}

#pai-7{align-content: space-around;}
#pai-8{align-content: stretch;}
#pai-9{align-content: flex-start;}
#pai-10{align-content: flex-end;}
#pai-11{align-content: center;}
#pai-12{align-content: space-between;}
#pai-13{align-content: space-evenly;}
#pai-14{align-content: space-around;}

