body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
}
div{
    border: 2px solid black;
    height: 30px;
    margin-top: 20px;
}

#px{
    background-color: red;
    width: 350px;
}

#cm{
    background-color: green;
    width:12cm;
    color: white;
}

#mm{
    background-color: blue;
    width: 150mm;
    color: white;
}

#in{
    background-color: yellow;
    width: 7in;
}

#pt{
    background-color: orange;
    width: 300pt;
}

#pc{
    background-color: violet;
    width: 32pc;
}