body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.pai{
    border: 3px solid black;
    margin: 20px;
    height: 300px;
    background-image: url("lisboa_02.jpg");
    background-position: center;
    background-size: cover;
}

#pai-1{
    transition-duration: 1s;
    filter: brightness(30%);
}
#pai-1:hover{filter: brightness(100%);}

#pai-2{filter: blur(2px);}

#pai-3{filter: grayscale(100%);}

#pai-4{ filter: contrast(200%);}

#pai-5{ filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.397));}

#pai-6{ filter: invert(100%);}

#pai-7{ filter: saturate(100%);}

#pai-8{filter: sepia(100%);}

#pai-9{ 
    filter:invert(100%) brightness(200%);
}
