body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div{ box-sizing: border-box;}

.pai{
    background-color: lightgreen;
    text-align: center;
    margin: auto;
    width: 400px;
    height: 400px;
    padding:15px;
    box-sizing: border-box;
    border: 3px solid black;
}

.filho{
    background-color: lightcoral;
    border: 1px solid black;
}

#pai-1{ display: grid;}
#pai-2{
    display: grid;
    grid-template-columns: auto auto auto;
    /* quando quiseres repetir pões
    grid-template-columns: repeat(5, auto)
    o 5 equivale as vezes que queres repetir*/
}
#pai-3{
    display: grid;
    grid-template-columns: auto auto 50%;
}
#pai-4{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
#pai-4 .filho-1{
    grid-column-start: 2;
}

#pai-5{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
#pai-5 .filho-1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#pai-6{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
#pai-6 .filho-1{
    grid-row-start: 1;
    grid-row-end: 3;
}
#pai-7{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
#pai-7 .filho-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#pai-8{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
}
#pai-9{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}
#pai-9 .filho-1{
    grid-column-start: 3;
    grid-row-start: 3;
}