.teste{
    background-color: aquamarine;
    color: black;
}
.teste-1{
    background-color:rebeccapurple;
    color: violet;
    text-align: center;
}
.teste-2{
    background-color:coral;
    color: black;
    text-align: right;
}
