body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h3{
    text-align: center;
}

div{
    background-color: greenyellow;
    border: 2px solid black;
    padding: 10px;
    
}

#link-1{
    text-decoration: none;
}

#link-2{
    text-decoration: underline solid red 3px;
}

#link-3{
    text-decoration: underline dotted red 3px;
}

#link-4{
    text-decoration: underline wavy red 3px;
}

#link-5{
    text-decoration: underline double red 3px;
}

#link-6{
    text-decoration: underline dashed red 3px;
}

#link-7{
    text-decoration: overline solid red 3px;
}

#link-8{
    text-decoration: line-through solid red 3px;
}

#link-9{
    text-decoration: underline overline line-through dashed red 3px;
}
#div-1{
    background-color: yellow;
}
#link-10{
    text-decoration-color:blue;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-line: underline;
}